<div id="email-input" >
    <div class="input-group container" id="contact-header">
        <input type="text" class="form-control" id="contact-subject" ng-model="contactSubject" placeholder="Subject">
        <input type="email" class="form-control" id="contact-email" ng-model="contactEmail" placeholder="Email Address">
    </div>
</div>
<div class="container">
    <div class="input-group" id="contact-body">
        <textarea type="text" class="form-control" id="input-email" ng-model="newContactEmail" placeholder="Enter Text..."></textarea>
    </div>
    <div id="button">   
        <span class="input-group-btn">
            <button id="email-button" class="btn btn-primary" ng-click="sendContactEmail()">Submit</button>
        </span>
    </div>
</div>